@model IList<InternshipChallenge1.Models.AccountsDb>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Accounts list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Item" asp-action="Create" class="btn btn-primary">Create new Account</a>
        </div>
    </div>
    <br />

    

</div>