@model IEnumerable<InternshipChallenge1.Models.Account>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Accounts list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Account" asp-action="Create" class="btn btn-primary">Create new Account</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Fullname
                    </th>
                    <th>
                        NrFollowers
                    </th>
                    <th>
                        NrFollowing
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NrFollowers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NrFollowing)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Account" asp-action="Details" asp-route-id="Item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Acounts created yet</p>
    }

</div>